body {
    background-color: #FFFFE0; /* Warna merah cerah */
    font-familly: Castellar, sans-serif; /* jenius huruf yang bersih dan mudah dibaca */
    color: #191970; /* Warna teks utama (Kuning Gelap) */
}

.kartu profil {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  padding: 20px;
  background-color: white;
  border-radius: 15px; /* membuat sudut menjadi melengkung */
  box-shadow: 0 4pk 8px rgba(0,0,0,0.1); /* efek bayangan */
  text-align: center; /* menengahkan semua teks ke dalam kartu */
}


.kartu-profil img {
  width: 150px;
  border-radius: 50% /* Trik membuat gambar persegi menjadi lingkaran sempurna */
}
